<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Mg Targets

    <a data-toggle="collapse" href="#lift_mg_targets_new_form">
      Add mg target
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @lift.mg_targets.each do |mg_target| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/mg_targets/<%= mg_target.id %>">
          <%= mg_target.mg_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_mg_target_from_lift/<%= mg_target.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="lift_mg_targets_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
