<form action="/create_equipment_requirement_from_lift" method="post">

  <input type="hidden" name="lift_id" value="<%= @lift.id %>">

  <div class="form-group">
    <label for="equipment_id">
      Equipment
    </label>

    <%= select_tag(:equipment_id, options_from_collection_for_select(Equipment.all, :id, :name, @equipment_requirement.equipment_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create equipment requirement
  </button>
</form>
