<!-- Form equipment_requirement start -->
<form action="/create_equipment_requirement_from_lift" method="post">
<!-- Form equipment_requirement end -->

  <!-- Label and input for lift_id start -->
  <!-- Input for lift_id start -->
  <input type="hidden" name="lift_id" value="<%= @lift.id %>">
  <!-- Input for lift_id end -->

  <!-- Label and input for equipment_id start -->
  <div class="form-group">
    <label for="equipment_id">
      Equipment
    </label>

    <!-- Input for equipment_id start -->
    <input type="text" id="equipment_id" name="equipment_id" class="form-control" value="<%= @equipment_requirement.equipment_id %>">
    <!-- Input for equipment_id end -->
  </div>
  <!-- Label and input for equipment_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create equipment requirement
  </button>
</form>
