<!-- Form mg_target start -->
<form action="/create_mg_target_from_lift" method="post">
<!-- Form mg_target end -->

  <!-- Label and input for mg_id start -->
  <div class="form-group">
    <label for="mg_id">
      Mg
    </label>

    <!-- Input for mg_id start -->
    <input type="text" id="mg_id" name="mg_id" class="form-control" value="<%= @mg_target.mg_id %>">
    <!-- Input for mg_id end -->
  </div>
  <!-- Label and input for mg_id end -->

  <!-- Label and input for lift_id start -->
  <!-- Input for lift_id start -->
  <input type="hidden" name="lift_id" value="<%= @lift.id %>">
  <!-- Input for lift_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create mg target
  </button>
</form>
