<form action="/create_favorite_from_lift" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="lift_id" value="<%= @lift.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>
