<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Mgs Targeted
  </div>

  <ul class="list-group list-group-flush">
    <% @lift.mgs_targeted.each do |muscle_group| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/muscle_groups/<%= muscle_group.id %>">
          <%= muscle_group.name %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
