<!-- Validation failure messages -->
<% if @favorite.errors.any? %>
  <% @favorite.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit favorite #<%= @favorite.id %>
</h1>

<hr>

<!-- Form favorite start -->
<form action="/update_favorite/<%= @favorite.id %>" method="post">
<!-- Form favorite end -->

  <!-- Label and input for user_id start -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for lift_id start -->
  <div class="form-group">
    <label for="lift_id">
      Lift
    </label>

    <!-- Input for lift_id start -->
    <%= select_tag(:lift_id, options_from_collection_for_select(Lift.all, :id, :cooldown_hours, @favorite.lift_id), :class => "form-control") %>
    <!-- Input for lift_id end -->
  </div>
  <!-- Label and input for lift_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update favorite
  </button>
</form>

<hr>

<a href="/favorites">
  Go back
</a>
