<form action="/create_mg_target_from_muscle_group" method="post">

  <input type="hidden" name="mg_id" value="<%= @muscle_group.id %>">

  <div class="form-group">
    <label for="lift_id">
      Lift
    </label>

    <%= select_tag(:lift_id, options_from_collection_for_select(Lift.all, :id, :cooldown_hours, @mg_target.lift_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create mg target
  </button>
</form>
