<h1>
  Edit muscle group #<%= @muscle_group.id %>
</h1>

<hr>

<form action="/update_muscle_group/<%= @muscle_group.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @muscle_group.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update muscle group
  </button>
</form>

<hr>

<a href="/muscle_groups">
  Go back
</a>
