<h1>
  Edit muscle group #<%= @muscle_group.id %>
</h1>

<hr>

<!-- Form muscle_group start -->
<form action="/update_muscle_group/<%= @muscle_group.id %>" method="post">
<!-- Form muscle_group end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @muscle_group.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update muscle group
  </button>
</form>

<hr>

<a href="/muscle_groups">
  Go back
</a>
