<h1>
  Add a new mg target
</h1>


<hr>

<!-- Form mg_target start -->
<form action="/create_mg_target" method="post">
<!-- Form mg_target end -->

  <!-- Label and input for mg_id start -->
  <div class="form-group">
    <label for="mg_id">
      Mg
    </label>

    <!-- Input for mg_id start -->
    <input type="text" id="mg_id" name="mg_id" class="form-control">
    <!-- Input for mg_id end -->
  </div>
  <!-- Label and input for mg_id end -->

  <!-- Label and input for lift_id start -->
  <div class="form-group">
    <label for="lift_id">
      Lift
    </label>

    <!-- Input for lift_id start -->
    <input type="text" id="lift_id" name="lift_id" class="form-control">
    <!-- Input for lift_id end -->
  </div>
  <!-- Label and input for lift_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create mg target
  </button>
</form>

<hr>

<a href="/mg_targets">
  Go back
</a>
