<h1>
  Edit equipment requirement #<%= @equipment_requirement.id %>
</h1>

<hr>

<form action="/update_equipment_requirement/<%= @equipment_requirement.id %>" method="post">

  <div class="form-group">
    <label for="lift_id">
      Lift
    </label>

    <%= select_tag(:lift_id, options_from_collection_for_select(Lift.all, :id, :cooldown_hours, @equipment_requirement.lift_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="equipment_id">
      Equipment
    </label>

    <%= select_tag(:equipment_id, options_from_collection_for_select(Equipment.all, :id, :name, @equipment_requirement.equipment_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update equipment requirement
  </button>
</form>

<hr>

<a href="/equipment_requirements">
  Go back
</a>
