<% if @equipment_requirement.present? %>
  <% if @equipment_requirement.errors.any? %>
    <% @equipment_requirement.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new equipment requirement
</h1>


<hr>

<form action="/create_equipment_requirement" method="post">

  <div class="form-group">
    <label for="lift_id">
      Lift
    </label>

    <%= select_tag(:lift_id, options_from_collection_for_select(Lift.all, :id, :cooldown_hours, @equipment_requirement.lift_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="equipment_id">
      Equipment
    </label>

    <%= select_tag(:equipment_id, options_from_collection_for_select(Equipment.all, :id, :name, @equipment_requirement.equipment_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create equipment requirement
  </button>
</form>

<hr>

<a href="/equipment_requirements">
  Go back
</a>
