<form action="/create_equipment_requirement_from_equipment" method="post">

  <div class="form-group">
    <label for="lift_id">
      Lift
    </label>

    <%= select_tag(:lift_id, options_from_collection_for_select(Lift.all, :id, :cooldown_hours, @equipment_requirement.lift_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="equipment_id" value="<%= @equipment.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create equipment requirement
  </button>
</form>
