<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Lift Requiring
  </div>

  <ul class="list-group list-group-flush">
    <% @equipment.lift_requiring.each do |lift| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/lifts/<%= lift.id %>">
          <%= lift.cooldown_hours %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
