<% if @equipment.present? %>
  <% if @equipment.errors.any? %>
    <% @equipment.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new equipment
</h1>


<hr>

<form action="/create_equipment" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @equipment.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create equipment
  </button>
</form>

<hr>

<a href="/equipment">
  Go back
</a>
