<% if @user_inventory.present? %>
  <% if @user_inventory.errors.any? %>
    <% @user_inventory.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new user inventory
</h1>


<hr>

<form action="/create_user_inventory" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @user_inventory.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="equipment_id">
      Equipment
    </label>

    <%= select_tag(:equipment_id, options_from_collection_for_select(Equipment.all, :id, :name, @user_inventory.equipment_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create user inventory
  </button>
</form>

<hr>

<a href="/user_inventories">
  Go back
</a>
